@import "../../../scss/variables";

.main {
  &__container {
    display: flex;
  }

  &__outlet {
    width: calc(80vw - 1.5rem);

    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 1rem;

    background: $grey-color;
    border-radius: $border-radius;
  }
}
