@import "./../../../scss/common";
@import "./../../../scss/variables";

.header {
  height: 4rem;
  background-color: $grey-color;
  box-shadow: $box-shadow-bottom-black;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    width: 90vw;
    margin: 0 auto;
  }

  &__left-side {
    display: flex;
    align-items: center;
    height: inherit;
  }

  &__right-side {
    display: flex;
    align-items: center;

    height: inherit;

    &__button {
      margin: 0 0.5rem;
    }
  }

  &__add-task {
    font-size: 1.5rem;
  }

  &__authentication {
    margin: 0 1rem;
    &__buttons {
      display: flex;
      align-items: center;
      margin: 0 0.5rem;
    }
    &__button {
      margin: 0 0.5rem;
    }
  }

  &__logo {
    img {
      height: 36px;
    }
  }
}
