@import './../../../scss/variables';

.sidebar {
  &__container {
    padding: 25px;
  }

  &__primary {
    list-style: none;
  }

  width: 20vw;
  height: calc(100vh - 10vh);
  background-color: $todoist-white;

  &__category {
    margin: 0px 0;
    padding: 10px 15px;
    border-radius: 5px;

    cursor: pointer;

    display: flex;

    &:hover {
      background-color: $todoist-grey;
    }
  }

  &__projects {
    &-title {
      display: flex;
      align-items: center;

      cursor: pointer;

      padding: 15px 15px;

      h2 {
        margin: 10px 20px;
      }
    }
  }

  &__label {
    font-size: 1.25em;
    margin: 0 15px;
  }

  &__icon {
    font-size: 1.25em;

    &.inbox {
      color: $blue-color;
    }
  }
}
