@import './../../../scss/variables';
@import './../../../scss/common';

.header {
  height: 8vh;
  background-color: $todoist-white;
  nav {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 5vh;
    width: auto;
  }

  &__settings {
    ul {
      list-style: none;
      display: flex;

      li {
        margin: 0 15px;
        padding: 8px 10px;
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        transition: all 0.3s ease-out;

        p {
          margin: 0 0 0 10px;
        }

        &:hover {
          background-color: $todoist-grey;
          cursor: pointer;
        }
      }
    }
  }

  &__icon {
    font-size: 1.25em;
    color: lighten($black-color, 10%);
  }
}
