@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

@import './scss/variables';

// General settings
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  list-style: 1;

  font-family: 'Montserrat', sans-serif;

  color: $black-color;

  background-color: $white-color;
}
