@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

@import "./scss/variables";
@import "./scss/mixins";

// CSS Normalize
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $black-color;
  color: $white-color;
}

.App {
  &__container {
    display: flex;
  }

  &__pages {
    width: 80vw;
    height: calc(100vh - 5rem);

    margin: 0.5rem;
    padding: 1rem;

    background: $grey-color;
    border-radius: $border-radius;
  }

  @include for-phone-only {
    &__container {
      display: flex;
      flex-direction: column;
    }

    &__pages {
      width: 96vw;
    }
  }
}
