@import "./../scss/variables";

.button {
  padding: 0.5rem 1rem;

  text-align: center;
  align-items: center;
  border-radius: 5px;

  cursor: pointer;

  transition: all 0.3s;

  &-outline {
    color: $red-color;
    border: 1px solid $red-color;

    &:hover {
      background-color: $red-color;
      color: $white-color;
    }
  }

  &-filled {
    background-color: $red-color;
    border: 1px solid $red-color;
    color: $white-color;

    &:hover {
      color: $red-color;
      background-color: transparent;
    }
  }
}
