// All Scss variables will be found here

$black-color: #202020;
$white-color: #fafafa;

$todoist-red: #dd4b39;
$todoist-white: #f7f7f7;
$todoist-grey: #ececec;

$blue-color: blue;

$absolute-white: #ffffff;
